@model Phonebook.PresentationLayer.Web.Models.ContactModel

@using (Html.BeginForm("Edit", "Contact", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => Model.Id)
<div class="profile-container"><div class="change-pic btn btn-primary">Change picture</div>
@if (Model.Picture == null)
{
    <label for="file" class="profile-pic default-pic"></label>
    <input type="file" name="file" id="file" style="display:none;" />
}
else
{
    var base64 = Convert.ToBase64String(Model.Picture);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    <label for="file" class="profile-pic" style="background-image:url(@imgSrc);"></label>
    <input type="file" name="file" id="file" style="display:none;" />
}
</div>
<div class="basic-info">
    <div class="display-title">
    @Html.DisplayNameFor(model => model.Name)
    </div>

    <div class="display-info">
        @Html.EditorFor(model => model.Name,
     new { htmlAttributes = new { @class = "no-borders" } })
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="display-title">
        @Html.DisplayNameFor(model => model.DateOfBirth)
    </div>

    <div class="display-info">
        @Html.EditorFor(model => model.DateOfBirth,
     new { htmlAttributes = new { @class = "no-borders" } })
        @Html.ValidationMessageFor(model => model.DateOfBirth)
    </div>
</div><br>
<div style="width:100%; clear:both;">
<input type="submit" value="Save contact" class="btn btn-block btn-default save-contact" />
</div>
}