@model Phonebook.PresentationLayer.Web.Models.PhoneModel
@using Phonebook.BusinessLogicLayer.Managers;

@using (Html.BeginForm("SavePhone", "PhoneDetails", FormMethod.Post))
{
    Model.ParseIds = Model.Id + "/" + Model.Contact.Id;
    @Html.HiddenFor(x => Model.ParseIds)
    <div class="info-table">
        <div>
            @Html.EditorFor(x => x.Number, new { htmlAttributes = new { @class = "no-borders" } })
            @Html.ValidationMessageFor(x => x.Number)
        </div>
        <div>
            @{
                PhoneTypes phoneTypesManager = new PhoneTypes();
                IEnumerable<PhoneTypeModel> phoneTypes = phoneTypesManager.GetAll().Select(x => (PhoneTypeModel)x);
            }
            @Html.DropDownListFor(x => x.PhoneType.Id, new SelectList(phoneTypes, "Id", "Name", Model.PhoneType.Id), new { @class = "no-borders-drop" })
            @Html.ValidationMessageFor(x => x.PhoneType.Name)
        </div>
        <div><input type="submit" value="Save" class="btn btn-success btn-xs add-email-button">@Html.ActionLink("Delete", "DeletePhone", "PhoneDetails", new { @id = Model.Id, @contactId = Model.Contact.Id }, new { @class = "btn btn-danger btn-xs delete-button" })</div>
    </div>
                }
