@model Phonebook.PresentationLayer.Web.Models.ContactDetailsModel

<h2>Standard data</h2>

<div>
    <hr />
    @Html.Partial("Partial/_PartialDetails", Model.Contact)
    <hr />
    <div class="new-table">
        <div class="tableHeaderContainer"><div>Emails</div><div>Email type</div><div>Controls</div></div>
        @foreach (var email in Model.EmailList)
        {
            Html.RenderPartial("Partial/_EmailDetails", email);
        }
        @Html.Partial("Partial/_EmailAdd", new EmailModel(){ Contact = Model.Contact})
    </div>
    <hr />
    <div class="new-table">
        <div class="tableHeaderContainer"><div>Phones</div><div>Phone type</div><div>Country</div><div>Controls</div></div>
        @foreach (var phone in Model.PhoneList)
        {
            Html.RenderPartial("Partial/_PhoneDetails", phone);
        }  
        @Html.Partial("Partial/_PhoneAdd", new PhoneModel() { Contact = Model.Contact })
    </div>
    <hr />
    <div class="new-table">
        <div class="tableHeaderContainer"><div class="addressDiv">Address</div><div class="cityDiv">City</div><div class="zipCodeDiv">Zip Code</div><div class="countriesDiv merge">Country</div><div class="addressTypeDiv merge">Address type</div><div>Controls</div></div>
        @foreach (var address in Model.AddressList)
        {
            Html.RenderPartial("Partial/_AddressDetails", address);
        }
        @Html.Partial("Partial/_AddressAdd", new AddressModel() { Contact = Model.Contact })
    </div>
    <hr />
</div>
<p>
    @Html.ActionLink("Back to List", "Index", "Home", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Delete", "Delete", new { id = Model.Contact.Id }, new { @class = "btn btn-danger" })
</p>
