@model Phonebook.PresentationLayer.Web.Models.ContactDetailsModel

<h2>Standard data</h2>

<div>
    <hr />
    @Html.Partial("Partial/_PartialDetails", Model.Contact)
    <hr />
    <div class="new-table">
        <div class="tableHeaderContainer"><div class="tableHeader">Emails</div><div class="tableHeader">Email type</div><div class="tableHeader">Controls</div></div>
        @foreach (var email in Model.EmailList)
        {
            Html.RenderPartial("Partial/_EmailDetails", email);
        }
        @Html.Partial("Partial/_EmailAdd", new EmailModel(){Contact = Model.Contact})
    </div>
    <hr />



    <div class="new-table">
        <div class="tableHeaderContainer"><div class="tableHeader">Phones</div><div class="tableHeader">Phone type</div><div class="tableHeader">Controls</div></div>
        @foreach (var phone in Model.PhoneList)
        {
            Html.RenderPartial("Partial/_PhoneDetails", phone);
        }  
        @Html.Partial("Partial/_PhoneAdd", new PhoneModel() { Contact = Model.Contact })
    </div>
    <hr />
</div>
<p>
    @Html.ActionLink("Back to List", "Index", "Home", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Delete", "Delete", new { id = Model.Contact.Id }, new { @class = "btn btn-danger" })
</p>
